body {
	background-color: red;
    padding-top: 145px;
}
img {
	width: 100%;
	height: auto;
}
header {
	height: 150px;
	background: black;
    top: -50px;
}
header.hsmall {
	height: 60px;
}
header #halg {
    display: inline;
    font-size: 2.5em;
}
header #hasm {
    display: none;
}
header.hsmall #halg {
    display: none;
}
header.hsmall #hasm {
    display: inline;
}
header nav {
    float: right;
    height: 40px;
    margin-top: 45px;
    margin-right: 25px;
}
header.hsmall nav {
    margin-top: 15px;
    margin-right: 25px;
}
header nav a {
    line-height: 40px;
    display: block;
    float: left;
    padding: 0 15px;
}
header.hsmall nav a {
    line-height: 40px;
    display: block;
    float: left;
    padding: 0 15px;
}
header img {
    width:108px;
    height: 72px;
    margin-left: 25px;
}
header.hsmall img {
    width: 54px;
    height: 36px;
}
section {
    padding-top: 145px;
}
#hello {
    background-image: url("images/flag.jpg");
    background-size: cover;
}
#profile {
    background-image: url("images/irish-flag14.jpg");
    background-size: cover;
}